<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/flights/new">New Flight</a>
    <a href="/flights">All Flights</a>
  </body>
</html>
