<%- include('../partials/header.ejs') %> >
<h1>Flight List</h1>
<table class="table" id="flight-index">
    <thead>
            <th scope="col">Airline</th>
            <th scope="col">Flight Number</th>
            <th scope="col">Departure Date</th>
            <th scope="col">Flight Details</th>
            <th scope="'col">Delete Flight</th>
    </thead>
    <tbody>
        <% flights.forEach(function(f) {
            let todayDate = new Date()
            let flightDate = flight.departs
            console.log(`todays date: ${todayDate}`)
            console.log(`comparison date: ${flightDate}`)
            if (todayDate > flightDate) {

            }
        }) %> 
    </tbody>
</table>

<%- include('../partials/footer') %> 