<%- include('../partials/header.ejs') %> >
<h1>Flight List</h1>
<table class="table" id="flight-index">
    <thead>
        <tr>
            <th scope="col">Airline</th>
            <th scope="col">Flight Number</th>
            <th scope="col">Departure Date</th>
            <th scope="col">Flight Details</th>
            <th scope="'col">Delete Flight</th>
        </tr>
    </thead>
    <tbody>
        <% flights.forEach(function(f) {
            
        }) %> 
    </tbody>
</table>